# Usa UNA de estas opciones y copia este archivo como .env

# Opción 1: MongoDB Atlas
# MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/ManaMarket?retryWrites=true&w=majority

# Opción 2: Mongo local
# MONGODB_URI=mongodb://127.0.0.1:27017/ManaMarket
